doctype html
html
  head
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body

    nav
      ul
        li
          a(href='home') b2c
        li
          a(href='query') b2b
    block content
