doctype html
html
  head
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    title= title
    link(rel="stylesheet", href="/stylesheets/normalizer.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    nav
      ul
        li
          a(href='home') chat
        li
          a(href='query') query
    block content
