extends layout

block content
  #main
    header
      h1= title
    aside
      span Available commands:
      br
      code
        span who does like <var>$word</var> ?
        br
        span what does like <var>$nickname</var> ?
    section
      form#form_msg
        p
        div
          textarea#txt(name="txt",rows="3",cols="30")
        div
          span.btn Send
    footer
      span
        a(href='about') About Social Sandox
      p#queryres
      p#log
      p#log2
  script(src='/javascripts/jquery.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/query.js')